*{
    margin:0;
    padding:0;
}
.part-container{
    margin: 0 auto;
    min-height:100vh;
    overflow:auto;
   
    
}
.header{
    height:5vh;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:50px;
    display:flex;
    gap:20px;
    flex-direction: row;
    
}
.wb-container{
padding-top:20px;
    padding-bottom:20px;
    margin-left:50px;
    margin-right:50px;
}
.wb-container iframe{
     width: 100%;
      height: 90vh; /* takes most of the screen height */
      border: none;
}
.wbcontainer a{
    text-decoration:none;
  
}
svg{
    padding-left:15px;
    padding-right:15px;
    padding-top:7px;
    padding-bottom:7px;
}
svg:hover{
      background-color:rgb(245, 245, 245);
      
}

.video{
margin: 0 auto;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
display: flex;
justify-content: center;
 border-radius: 20px;
}
iframe{
    
    cursor:pointer;
    padding-bottom: 20px;
    padding-top: 20px;
   
}
.p{
     height:5vh;
    padding-top:20px;
    padding-bottom:10px;
    margin-left:50px;
}
.p:hover{
    background-color:rgb(245, 245, 245);
}
.sp{
     height:5vh;
    padding-top:20px;
    padding-bottom:10px;
    margin-left:50px;
    color:rgb(210, 75, 210);
     background-color:rgb(245, 245, 245);
}
.sp:hover{
    background-color:rgb(245, 245, 245);
}
.plan{
    display:flex;
    flex-direction:column;
    gap:5px;
    padding-top:10px;
}
.pink{
    font-weight:bold;
    color:salmon;
    text-decoration:none;
    font-size:x-large;
    border-bottom: 2px solid rgb(226, 67, 50);
    padding:20px;

}
#pink:hover{
    color:rgb(255, 0, 128);
    border-bottom: 2px solid rgb(255, 0, 128);
}